<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MLP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E578B6641CF199E300BF2A4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E578B67B1CF199E400BF2A4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E578B6861CF199E400BF2A4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
